table, td {
	border: 0px;
	border-collapse: collapse;
}

th {
	border: 1px solid;
	border-collapse: collapse;
	background-color: #00bfff;
}

#date {
	text-align: center;
	width: 300px;
	border: 1px solid;
	border-collapse: collapse;
}

#Department {
	border-collapse: collapse;
	border: 1px solid;
}